<style>
    .status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

</style>


<%= turbo_frame_tag "user_status" %>
<div class="status-circle <%= user.status_to_css %>" id="<%= dom_id(user) %>"></div>